# admin and Other assets
post.js
package.json
package-lock.json
assets/js/backup.js
assets/js/swbk.js

# Dependency directory
node_modules
server

# Optional npm cache directory
.npm

# Editors
.vscode/*
