  /*
 * Globals
 */

 @media (min-width: 48em) {
    html {
      font-size: 18px;
    }
  }
  
  body {
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
  }
h1{font-weight:600;font-size:33px;}
h2{font-weight:600;font-size:28px;}
h3{font-weight:600;font-size:23px;}
h4{font-weight:600;font-size:18px;}
h5{font-weight:600;font-size:15px;}
  .navbar {
    background-color:#dd2840;
}
.navbar-nav > li{
    padding-left: 10px;
    padding-right: 10px;
  }
  h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
a, a:visited{color:#4a59df; text-decoration:none}
a:hover{color:#4a59df; text-decoration:underline}
a:focus, a:hover, a:active{outline:none}
.btn {
    border-radius:9999px
}
.btn-default-outline{
    background-color:transparent;
    color:#fff;
    border-color:#FFF
}
.btn-default-outline:hover,.btn-default-outline:active,.btn-default-outline:focus{
    background-color:#FFF;
    color:#0875aa
}
.btn {
    white-space:normal !important;
    word-wrap: break-word; 
}
.btn {
        font-weight: 700;
        font-size:14px;
        color: #fff;
    }
p {
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    word-wrap: break-word;
    letter-spacing: 0;
    color: #221f1f;
}
a {
    overflow-wrap: break-word;
    word-wrap: break-word;
 }
blockquote {
background: #B9DFF1;
margin: 0px 50px 0px 50px;
padding: 30px 30px 30px 50px;
color:#333;
border-radius:15px;
font-size: 18px;
font-family: 'Ubuntu', sans-serif;
line-height: 1.6em;
box-shadow: 4px 4px 10px #e3e3e3;
}
.footer {
    margin-top: 2.6em;
    padding: 20px 0 26px
}
.footer-text p {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: 400;
    color: #36383f
}